<div class="home-about">
    <h2>About us</h2>
    <p>The payroll that gives comfortability</p>
    <div class="columns">
      <div class="col fade-in">
        <h3>What we do.</h3>
        <p>
          It is general knowledge that the heart of every organization is the workforce that generates revenue. To manage high staff turnover and to retain the best hands, implementation of global best practices in relation to human resource functions cannot be overemphasized, payroll management being an integral part.
        </p>
      </div>
      <div class="col fade-in">
        <h3>What we are capable.</h3>
        <p>
          Time management,reliability,efficiency,record keeping
        </p>
      </div>
      <div class="col fade-in">
        <h3>What we aim next.</h3>
        <p>
          World leading accounting software
        </p>
      </div>
    </div>
  </div>