<section class="home-intro">
    <div class="home-text">
      <p class="nav__list-item">
       <h1>
         Payroll Management System For Bookkeepers and Accountants  
       </h1>
    </p>
    
    <div class="contact-phone">
        <span>
          <code>
            <small>
              <small id="sales">
               Sales Equiry:
              </small> +234 80 583 677 68 | cyclicPMS@gmail.com
           </small>
          </code>
        </span>
         
      </div>
      <!-- <div class="search-box">
        <form action="" method="POST">
          <input type="search" placeholder="search here">
        </form>
      </div> -->
    </div>
  </section>