
      <div class="home-more-stuff">
        <div class="more-stuff-grid card" >
          <img
            src="https://unsplash.it/400"
            alt=""
            class="slide-in from-left"
          />
          <p class="slide-in from-right">
             The administration of employees’ financial records including salaries, wages, bonuses, deductions, and net pay. It entails the collection of payroll data, computation, disbursement and reporting of employees’ salaries and related statutory deductions. It also involves registration with various regulators in relation to statutory payroll-related obligations, such as contributions with respect to pension, industrial training funds, employees compensation scheme, national housing funds, etc.
             <br>Payslips can be <b>emailed</b>, exported to <b>PDF</b> or sent directly to our employee payroll dashboard. A company logo can even be added to provide a professional look and feel.
      

             
          </p>
        </div>
        <div class="more-stuff-grid card" data-aos='fade-right'>
          
            <ul class="slide-in from-left">
              <h2>
                Stay compliant with ease and help your clients manage their staff
              </h2>
              <li>
                All calculations are completely automated, for income tax, employer's  and much more
              </li>
              <li>
                Pension statuses are calculated in real time based on age and earnings
              </li>
              <li>
                Store employee bank details, to create files to upload directly to a bank account in order to distribute payment
              </li>
              <li>
                Store employee contractual terms making key information accessible at any time
              </li>

              <li>
                Keep track of each individual employee's key contact information
              </li>
            </ul>
         
          <img
            src="https://unsplash.it/401"
            alt=""
            class="slide-in from-right"
          />
        </div>
        <div class="more-stuff-grid card" data-aos='fade-left'>
          <img src="//unsplash.it/400" alt="" class="slide-in from-left" />
          
            <ul class="slide-in from-right">
              <h2>
                Manage your clients payroll, pension and national housing funds
              </h2>
              <li>
                We've built a unique dashboard for accountants and bookkeepers to manage all of their deadlines
              </li>
              <li>
                File payroll, pension and SMS in bulk
              </li>
              <li>
                Completely cloud-based, meaning each and every member of staff can run and file payroll
              </li>
              <li>
                Workflow focused, enhancing efficiency and making staff management a breeze
              </li>
              <li>
                Employee leave management
              </li>
            </ul>
         
        </div>
        <div class="more-stuff-grid card" data-aos='fade-right'>
         
            <ul class="slide-in from-left">
              <h2>
                Automated payroll 
              </h2>
              <li>
                Set them up with a salary and CyclicPMS will do the rest
              </li>
              <li>
                The software will file with HMRC and send the payslips based on the frequency you select
              </li>
              <li>
                The payroll journal generated will automatically be posted to the bookkeeping module
              </li>
              <li>
                All income for directors will also be linked to their self-assessment
              </li>
            </ul>
         
          <img
            src="https://unsplash.it/401"
            alt=""
            class="slide-in from-right"
          />
        </div>
        
       
      </div>