{% load static %}
{% block extrastyle %}

  {% endblock extrastyle %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- LEAVE  -->
          {% url 'employee_apply_leave' as leave %}
          <!-- FEEDBACK  -->
          {% url 'employee_feedback' as feedback %}
          
          {% if request.path == leave %}
            <li class="breadcrumb-item" style="color: green;">
              Leave
            </li>
            <li class="breadcrumb-item active"> 
                <a href="{% url 'employee_apply_leave' %}">
                  Apply Leave
                </a>
              </li>
            <li class="breadcrumb-item "> Manage Leave</li>
            <li class="breadcrumb-item "> Relief Officer</li>
          
          {% elif request.path == feedback %}
            <li class="breadcrumb-item" style="color:green;">
              
                Feedback
            </li>
            <li class="breadcrumb-item active">
              <a href="{% url 'employee_feedback' %}">
                Message Us
              </a> </li>
            <li class="breadcrumb-item active"> Manage Feedback</li>
          {% endif %}  
          
          
        </ol>
      </nav>
    </div>
  </section>