<footer>
    <div class="container">
      <div class="wrapper">
       <ul class="nav__list">
         <li class="nav__list-item"><a href="{% url 'home' %}" class="nav__link active">Home</a></li>
         <li class="nav__list-item">
           <a href="/about" class="nav__link">About</a>
         </li>
         <li class="nav__list-item">
           <a href="#" class="nav__link active">Contact</a>
         </li>
         <li class="nav__list-item">
           <a href="#" class="nav__link">Services</a>
         </li>
         <li class="nav__list-item"><a href="#" class="nav__link active">Job Vacancy</a></li>
         <li class="nav__list-item"><a href="#" class="nav__link active">Blog</a></li>
     
       </ul>
      </div>
    </div>
  </footer>