<header>
</div>
<a href="{% url 'home' %}" class="site-logo" aria-label="homepage">Cyclic<b>PMS.</b></a>
<nav class="main-nav">
  <ul class="nav__list">
    <li class="nav__list-item"><a href="{% url 'home' %}" class="nav__link active">Home</a></li>
    <li class="nav__list-item">
      <a href="#about" class="nav__link">About</a>
    </li>
    <li class="nav__list-item">
      <a href=" {% url 'contacts' %}" class="nav__link active">Contact</a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">Services</a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">Pricing</a>
    </li>
    <li class="nav__list-item"><a href="#" class="nav__link active">Vacancies</a></li>
    <li class="nav__list-item"><a href="{% url 'bloghome' %}" class="nav__link active">Blog</a></li>

  </ul>
</nav>
<nav class="account">
  <ul class="nav__list">
     
  
  </ul>
</nav>
</header>
