<!DOCTYPE html>
{% extends "shared/layout.html" %}
{% load static %}

{% load humanize %}
{% load widget_tweaks %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock extrastyle %}
    {% block title %}
      Update Blog
    {% endblock title %}
    {% block body %}
        <ul class="card card-primary card-outline">
            
            <div class="card-header">
                <h1 class="card-title m-0">
                  ADD BLOG POST
                </h1>
                <hr>
            </div>  
            <article>
                <div class="user">
                    <li>
                        <div class="card-body">
                            <form action="" method="POST" class="card-text">
                                {% csrf_token %}   
                               
                             
                                <div class="form-blog">
                                    
                                    <input type="hidden" name="author" id="id_author" value="{{ form.author.user }}">
                                   
                                    {{ form.errors }}
                                    {{ form | safe }}
                                    
                                    
                                    
                                </div>
                                <div class="button">
                                    <button type="submit"> Post</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </div>
            </article>
        </ul>
    
    {% endblock body %}
      
    