{% extends "shared/hrm.html" %} {% load static %} {% block title %} Add Employee {% endblock title %}

{% block extrastyle %}
<!-- custom style  -->
<link rel="stylesheet" href="{% static 'css/_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/_styles_leave.css' %}">
<link rel="stylesheet" href="{% static 'css/add_employee.css' %}">
{% endblock extrastyle %}

{% block body %}
{% include "partials/hrm/_sidebar.html" %}

<!--Step One Get Started -->
<div class="form-container">
    <!-- For bulk creations of employees /  -->
    <div class="bulk">
        <form method="POST" action="{% url 'add_upload_employee' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary add-employee">UPLOAD TO ADD EMPLOYEES</button>
        </form>
    </div>
    <div class="heading">
        <h2>ADD EMPLOYEE </h2>
    </div>
    <div class="progressbar">
        <div class="progress" id="progress"></div>
        <!--the line that is going from first to 2nd ..-->

        <div class="progress-step progress-step-active" data-title="STEPS"></div>
        <div class="progress-step" data-title=" LOGINS"></div>
        <div class="progress-step" data-title="NAMES"></div>
        <div class="progress-step" data-title="NUMBER"></div>
        <div class="progress" id="progress"></div>
    </div>
    <div class="form-step form-step-active">
        <div class="content active">
            <p>
                <span style="color: #043c6d">Take this simple steps</span>
                <span style="color:#067ed3;"><br>in a minute.</span><br>
            </p>
            <a href="#" data-next nextclass="btn" id="nextBtn" class="btn-next get-started">Apply Now</a>

        </div>
    </div>


    <!-- Step Two Personal Information-->
    <div class="form-step">
        <!-- Add Employee Form  -->
        <form action="{% url 'add-employee-save' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="first-layer">
                    <div class="row">
                        {% if user.is_authenticated %}
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="director" id="id_director"
                                autocomplete="off" value="{{ user.id }}">
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="id_email"> Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email"
                                id="id_email" autocomplete="off">
                        </div>


                        <div class="form-group">
                            <label for="id_username"> Username</label>
                            <input type="text" class="form-control" placeholder="Username" name="username"
                                id="id_username" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label> password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password" required
                                autocomplete="off">
                        </div>

                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" data-previous class="back btn btn-prev" id="btn-back">Back</button>
                    <button type="button" data-next class="next btn btn-next btn-display" id="btn-next">Next</button>
                </div>
            </div>
    </div>
</div>


<!-- Step Three  -->
<div class="form-step">
    <div class="container">
        <div class="first-layer">
        </div>
        <div class="second-layer">
            <div class="row">
                <div class="form-group  names">
                    <label> First name</label>
                    <input type="text" class="form-control" name="first_name" placeholder="Enter first name" required>
                </div>

                <div class="form-group names">
                    <label> Last name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Enter last name" required>
                </div>

                <div class="form-group names">
                    <label> Other name</label>
                    <input type="text" class="form-control" name="other_name" placeholder="Enter other name" required>
                </div>

            </div>
            <div class="btn-group names-group">
                <button type="button" class="back btn btn-prev" id="btn-back">Back</button>
                <button type="button" class="next btn btn-next btn-display2" id="btn-next">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- Step Four Asset Details -->

<div class="form-step ">
    <div class="container">
        <div class="first-layer">
        </div>
        <div class="second-layer">
            <div class="row">

                <div class="form-group phone-number">
                    <label> Phone number</label>
                    <input type="tel" class="form-control" name="phone_number" placeholder="Phone number" required>
                </div>

            </div>
            <div class="btn-group phone-group">
                <button type="button" class="back btn btn-prev" id="btn-back-last">Back</button>
                <input type="submit" class="next btn_submit" value="submit" />
            </div>
        </div>
        </form>
    </div>



    <!-- For bulk creations of employees /  -->
    <form method="POST" action="{% url 'add_upload_employee' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form }}
        </div>
        <button type="submit" class="btn btn-primary">create file to add users in bulk</button>
    </form>




    {% endblock body %}

    {% block script %}


    <script src="{% static 'js/add_employee.js' %}"></script>
    <script src="{% static 'js/employee/_leave.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#id_email").keyup(function () {
                var email = $(this).val();

                if (email != "") {
                    $.ajax({
                        url: "{% url 'check_email_exist' %}",
                        type: 'POST',
                        data: {
                            email: email
                        }
                    })
                        .done(function (response) {

                            if (response == "True") {
                                $(".email_error").remove();
                                $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>Email already taken</span>")
                                    .insertAfter("#id_email");
                            } else {
                                $(".email_error").remove();
                                $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>Email Available</span>")
                                    .insertAfter("#id_email");
                            }
                        })
                        .fail(function () {

                        })
                } else {
                    $(".email_error").remove();
                }

            });

            $("#id_username").keyup(function () {
                var username = $(this).val();

                if (username != "") {
                    $.ajax({
                        url: `{% url 'check_username_exist' %}`,
                        type: 'POST',
                        data: {
                            username: username
                        }
                    })
                        .done(function (response) {

                            if (response == "True") {
                                $(".username_error").remove();
                                $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>Username Not Available</span>")
                                    .insertAfter("#id_username");
                            } else {
                                $(".username_error").remove();
                                $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>Username Available</span>")
                                    .insertAfter("#id_username");
                            }
                        })
                        .fail(function () {

                        })
                } else {
                    $(".username_error").remove();
                }

            });

        });
    </script>


    {% endblock script %}