{% extends "shared/hrm.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{ employee.user.first_name }}
{% endblock title %}

{% block extrastyle %}
<!-- custom style  -->
<link rel="stylesheet" href="{% static 'css/add_employee.css' %}">
<link rel="stylesheet" href="{% static 'css/hrm/update.css' %}">
{% endblock extrastyle %}

{% block breadcrumb %}
<div class="page-wrapper">

  {% endblock breadcrumb %}

  {% block body %}

  {% include "partials/hrm/_sidebar.html" %}

  <div class="container">
    <div class="wrapper">


      <form action="{% url 'editemployeesave' %}" method="POST">
        {% csrf_token %}

        {% include "partials/_alerts.html" %}
        <fieldset>
          <legend>Employee Logins</legend>
          <div class="form-group">
            <label> Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required
              value="{{ employee_data.employee.user.email }}">
          </div>
          <div class="form-group">
            <label> Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" required autocomplete="off"
              value="{{ employee_data.employee.user.username }}">
          </div>
        </fieldset>

        <fieldset>
          <legend>
            Employee Names
          </legend>
          <div class="form-group">
            <label> First name</label>
            <input type="text" class="form-control" name="first_name" placeholder="Enter first name" required
              value="{{ employee_data.employee.user.first_name }}">
          </div>
          <div class="form-group">
            <label> Last name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Enter last name" required
              value="{{ employee_data.employee.user.last_name }}">
          </div>
          <div class="form-group">
            <label> Other name</label>
            <input type="text" class="form-control" name="other_name" placeholder="Enter other name" required
              value="{{ employee_data.employee.user.other_name }}">
          </div>
        </fieldset>

        <fieldset>
          <legend>
            Contact
          </legend>
          <div class="form-group">
            <label> Phone number</label>
            <input type="tel" class="form-control" name="phone_number" placeholder="Phone number" required
              value="{{ employee_data.employee.user.phone_number }}">
          </div>

          <div class="form-group">
            <label> Phone number 2</label>
            <input type="tel" class="form-control" name="phone_number_2" placeholder="Phone number" required
              value="{{ employee_data.employee.phone_number_2 }}">
          </div>
          <div class="form-group">
            <label> Contact Address</label>
            <input type="text" class="form-control" name="contact_address" placeholder="Contact Address"
              value="{{ employee_data.employee.contact_address }}">
          </div>
        </fieldset>

        <fieldset>
          <legend>
            More Info
          </legend>
          <div class="form-group">
            <label> Department</label>
            <!-- {% comment %} <input type="text"   class="form-control" name="department" placeholder="Enter department" required value="{{ employee.department }}"> {% endcomment %} -->
            <select name="department" id="department_id" value="{{ employee_data.employee.department.name }}"
              class="form-control">
              <option value="{{ employee_data.employee.department.name }}">{{ employee_data.employee.department.name }}
              </option>
              {% for x in department %}
              <option value="{{ x.name }}">{{ x.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label> D.O.B</label>
            <input type="text" class="form-control" name="dob" placeholder="Date of Birth"
              value="{{ employee_data.employee.dob }}">
          </div>

          <div class="form-group">
            <label> Gender</label>
            <select name="gender" id="id_gender" class="form-control" value="{{ employee_data.employee.gender }}"
              placeholder='select your gender'>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>

        </fieldset>

        <fieldset>
          <legend>
            Pay Role
          </legend>
          <div class="form-group">
            <label> Job Role</label>
            <!-- <input type="text" class="form-control" name="job_role" placeholder="Job Role"
              value="{{ employee_data.job_role.name }}"> -->
            <select name="job_role" placeholder="Job Role" class="form-control"
              value="{{ employee_data.job_role.name }}">
              <option value="{{ employee_data.job_role.name }}" name='job_role'> {{ employee_data.job_role.name }}</option>
              {% for x in job_role %}
              <option value="{{ x.name }}" selected> {{ x.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label> Pay Grade</label>
            <!-- <input type="text" class="form-control" name="pay_grade" placeholder="Pay Grade"
              value="{{ employee_data.pay_grade.name }}"> -->

              <select lass="form-control" name="pay_grade" placeholder="Pay Grade"
              value="{{ employee_data.pay_grade.name }}" class="form-control">
              <option value="{{ employee_data.pay_grade.name }}">
                {{ employee_data.pay_grade.name }}
              </option>
              {% for x in pay_grade %}
              <option value="{{ x.name }}">
                {{ x.name }}
              </option>
              {% endfor %}

            </select>

          </div>
          <div class="form-group">
            <label> Pay Group</label>
            <!-- <input type="text" class="form-control" name="pay_group" placeholder="Pay Group"
              value="{{ employee_data.pay_group.name }}"> -->
              <select lass="form-control" name="pay_group" placeholder="Pay Group"
              value="{{ employee_data.pay_group.name }}" class="form-control">
              <option value="{{ employee_data.pay_group.name }}">
                {{ employee_data.pay_group.name }}
              </option>
              {% for x in pay_group %}
              <option value="{{ x.name }}">
                {{ x.name }}
              </option>
              {% endfor %}

            </select>
          </div>
        </fieldset>

        <fieldset>
          <legend>
            Employee Roles
          </legend>
          <div class="form-control">
            <label for="">Manager</label>
            <input type="checkbox" name="is_manager" id="id_is_manager" value="{{employee_role.is_manager}}">
          </div>

          <div class="form-control">
            <label for="">Supervisor</label>
            <input type="checkbox" name="is_supervisor" id="id_is_supervisor" value="{{employee_role.is_supervisor}}">
          </div>
        </fieldset>


        <!-- <div class="form-group">
                          <label for="id_profile_pic">Profile pic</label>
                          <input type="file" name="profile_pic" id="id_profile_pic" value="{{ employee.profile_pic.url }}" class="form-control">
                        </div> -->




        <div class="form-group">
          <input type="hidden" name="employee_id" value="{{ employee_data.employee.user.id }}">
        </div>


        <div class="btns">
          <button class="btn  btn-primary">Save</button>
        </div>


        <div class="table">
          <table class="table">
            <!-- TABLE ROW HEADINGS  -->
            <tr class="heads">
              <th>Earnings</th>
              <th>Amount(N)</th>
            </tr>

            {% if salary_attribute %}
            {% for x in salary_attribute %}
            <tr class="data">
              <td>
                <!-- {{x.salary_attribute_value.salary_attribute_value.name}}: -->
                <!-- <input type="text" value="{{x.salary_attribute_value.salary_attribute_value.name}}" name="name"> -->
                <select name="name" id="id_name" value="{{x.salary_attribute_value.salary_attribute_value.name}}">
                  <option value="{{x.salary_attribute_value.salary_attribute_value.name}}" name="name" selected>
                    {{x.salary_attribute_value.salary_attribute_value.name}}
                  </option>
                  {% for x in salary_breakdown %}
                  <option value="{{x.salary_attribute_value.name}}" name="name">
                    {{x.salary_attribute_value.name}}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>

                <input type="number" name="value" id="id_value" value="{{x.salary_attribute_value.value}}">
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td>
                Sub-Total
              </td>
              <td>
                {{salary_attribute_total | floatformat:2 | intcomma }}
              </td>
            </tr>
            {% endif %}
            <!-- DEDUCTIONS AND AMOUNT  -->
            <tr class="heads">
              <th>Deductions</th>
              <th>Amount(N)</th>
            </tr>

            {% if deduction_attribute %}
            {% for x in deduction_attribute %}
            <tr class="data">
              <td>
                <!-- {{ x.deduction_attribute_value.deduction_attribute.name }}: -->
                <select name="name" id="id_name" value="{{ x.deduction_attribute_value.deduction_attribute.name }}">
                  <option value="{{ x.deduction_attribute_value.deduction_attribute.name }}" name="name" selected>
                    {{ x.deduction_attribute_value.deduction_attribute.name }}
                  </option>
                  {% for x in deduction_breakdown %}
                  <option value="{{x.deduction_attribute.name}}" name="name">
                    {{x.deduction_attribute.name}}
                  </option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="number" name="value" id="id_value"
                  value="{{x.deduction_attribute_value.attribute_value }}">
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td>
                Sub-Total:
              </td>
              <td>
                {{deduction_attribute_total | floatformat:2 | intcomma }}
              </td>
            </tr>
            {% endif %}
            <!-- GRAND TOTAL AND AMOUNT  -->
            <tr class="heads">
              <th>Grand Total</th>
              <th>Amount(N)</th>
            </tr>
            <tr class="data">
              <td>
                Earnings:
              </td>
              <td>
                {{salary_attribute_total | floatformat:2 | intcomma }}
              </td>
            </tr>
            <tr class="data">
              <td>
                Deductions:
              </td>
              <td>
                {{deduction_attribute_total | floatformat:2 | intcomma }}
              </td>
            </tr>
            <tr>
              <td>
                Total:
              </td>
              <td>
                {{grand_total | floatformat:2 | intcomma }}
              </td>
            </tr>

          </table>
        </div>

    </div>
    </form>

  </div>
</div>
{% endblock body %}

{% block scripts %}
<!-- Page specific script -->
<script src="{% static 'js/add_employee.js' %}"></script>

{% endblock scripts %}