{% load static %}

<!-- SIDE BAR FOR ROUTE PATH -->
<div class="side-bar">
    <ul class="list-group">
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'jobrole_page' %}">
                        ADD JOB ROLE
                    </a>
                </small>
               
            </div>
        </li>
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'add-employee' %}">
                        ADD PAY GRADE
                    </a>
                </small>
               
            </div>
        </li>

        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'add-employee' %}">
                        ADD PAY GROUP
                    </a>
                </small>
               
            </div>
        </li>

         <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'add-employee' %}">
                        PAYMENT ATTRIBUTE
                    </a>
                </small>
               
            </div>
        </li>

         <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'add-employee' %}">
                        EARNINGS
                    </a>
                </small>
               
            </div>
        </li>
        
         <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="{% url 'add-employee' %}">
                        DEDUCTIONS
                    </a>
                </small>
               
            </div>
        </li>

        <li class="list-group-item d-flex dropdown">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <!-- <a href="{% url 'add-employee' %}"> -->
                        EMPLOYEE
                    <!-- </a> -->
                </small>
               
            </div>
            <div class="dropdown-content">
        <ul>
          <li><a href="{% url 'add-employee' %}" class="active">Add</a></li>
          <li><a href="{% url 'manage-employee' %}">Manage</a></li>          
        </ul>
      </div>
        </li>
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="">
                        SALARY
                    </a>
                </small>
               
            </div>
        </li>
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="">
                        PAYROLL
                    </a>
                </small>
               
            </div>
        </li>
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="">
                        DATA
                    </a>
                </small>
               
            </div>
        </li>
        <li class="list-group-item d-flex">
            
            <div>
                <small class="text-uppercase lsp-2 text-muted">
                    <a href="">
                       DOCUMENT
                    </a>
                </small>
               
            </div>
        </li>
    </ul>
</div>
