{% extends "shared/director_dashboard.html" %}
{% load static %}

{% block title %}
  Director Dashboard
{% endblock title %}
{% block extrastyle %}
  
{% endblock extrastyle %}

{% block breadcrumb %}
 {% include "partials/_breadcrumb.html" %}
{% endblock breadcrumb %}

{% block container-fluid %}

    {% include "partials/_container-fluid.html" %}

{% endblock container-fluid %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){

            var pieData        = {
                  labels: [
                      'Students',
                      'Staffs'
                  ],
                  datasets: [
                    {
                      data: [{{ student_count }},{{ staff_count }}],
                      backgroundColor : ['#f56954', '#00a65a'],
                    }
                  ]
             };

            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieOptions     = {
              maintainAspectRatio : false,
              responsive : true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var pieChart = new Chart(pieChartCanvas, {
              type: 'pie',
              data: pieData,
              options: pieOptions
            });

            //Second Chart for Total Subject in Each Course
                var subject_count_list={{ subject_count_list }};
                var course_name_list={{ course_name_list|safe }};
                var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                var donutData        = {
                  labels:course_name_list,
                  datasets: [
                    {
                      data: subject_count_list,
                      backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    }
                  ]
                }
                var donutOptions     = {
                  maintainAspectRatio : false,
                  responsive : true,
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                var donutChart = new Chart(donutChartCanvas, {
                  type: 'doughnut',
                  data: donutData,
                  options: donutOptions
                });


                //show total student in each course
                var student_count_list_in_course={{ student_count_list_in_course }};

                  var pieData2        = {
                          labels:course_name_list,
                          datasets: [
                            {
                              data: student_count_list_in_course,
                              backgroundColor : ['#f56954', '#00a65a','#aa00ff', '#ff3d00'],
                            }
                          ]
                     };

                    var pieChartCanvas2 = $('#pieChart3').get(0).getContext('2d')
                    var pieOptions2     = {
                      maintainAspectRatio : false,
                      responsive : true,
                    }
                    var pieChart = new Chart(pieChartCanvas2, {
                      type: 'pie',
                      data: pieData2,
                      options: pieOptions2
                    });

                //show total student in each Subject
                var student_count_list_in_subject={{ student_count_list_in_subject }};
                var subject_list={{ subject_list|safe }};

                  var pieData3  = {
                          labels:subject_list,
                          datasets: [
                            {
                              data: student_count_list_in_subject,
                              backgroundColor : ['#f56954', '#00a65a','#aa00ff', '#ff3d00','#bf360c','#ffff00','#00e676','#40c4ff','#f56954', '#00a65a','#aa00ff', '#ff3d00','#bf360c','#ffff00','#00e676','#40c4ff'],
                            }
                          ]
                     };

                    var pieChartCanvas3 = $('#pieChart4').get(0).getContext('2d')
                    var pieOption3     = {
                      maintainAspectRatio : false,
                      responsive : true,
                    }
                    var pieChart = new Chart(pieChartCanvas3, {
                      type: 'pie',
                      data: pieData3,
                      options: pieOption3
                    });

                        ///Staff Leave vs Attendance Bar Chart
                        var attendance_present_list_staff={{ attendance_present_list_staff }};
                        var attendance_absent_list_staff={{ attendance_absent_list_staff }};
                        var staff_name_list={{ staff_name_list|safe }};
                        var barChartData = {
                          labels  : staff_name_list,
                          datasets: [
                            {
                              label               : 'Leaves',
                              backgroundColor     : 'rgba(60,141,188,0.9)',
                              borderColor         : 'rgba(60,141,188,0.8)',
                              pointRadius          : false,
                              pointColor          : '#3b8bba',
                              pointStrokeColor    : 'rgba(60,141,188,1)',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(60,141,188,1)',
                              data                : attendance_absent_list_staff
                            },
                            {
                              label               : 'Attendance',
                              backgroundColor     : 'rgba(210, 214, 222, 1)',
                              borderColor         : 'rgba(210, 214, 222, 1)',
                              pointRadius         : false,
                              pointColor          : 'rgba(210, 214, 222, 1)',
                              pointStrokeColor    : '#c1c7d1',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(220,220,220,1)',
                              data                : attendance_present_list_staff
                            },
                          ]
                        }
                        var barChartCanvas = $('#barChart1').get(0).getContext('2d')
                        var temp0 = barChartData.datasets[0]
                        var temp1 = barChartData.datasets[1]
                        barChartData.datasets[0] = temp1
                        barChartData.datasets[1] = temp0

                        var barChartOptions = {
                          responsive              : true,
                          maintainAspectRatio     : false,
                          datasetFill             : false
                        }

                        var barChart = new Chart(barChartCanvas, {
                          type: 'bar',
                          data: barChartData,
                          options: barChartOptions
                        })

                        //Student Leaves vs Attendance
                        var attendance_present_list_student={{ attendance_present_list_student }};
                        var attendance_absent_list_student={{ attendance_absent_list_student }};
                        var student_name_list={{ student_name_list|safe }};
                        var barChartData2 = {
                          labels  : student_name_list,
                          datasets: [
                            {
                              label               : 'Leaves',
                              backgroundColor     : 'rgba(60,141,188,0.9)',
                              borderColor         : 'rgba(60,141,188,0.8)',
                              pointRadius          : false,
                              pointColor          : '#3b8bba',
                              pointStrokeColor    : 'rgba(60,141,188,1)',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(60,141,188,1)',
                              data                : attendance_absent_list_student
                            },
                            {
                              label               : 'Attendance',
                              backgroundColor     : 'rgba(210, 214, 222, 1)',
                              borderColor         : 'rgba(210, 214, 222, 1)',
                              pointRadius         : false,
                              pointColor          : 'rgba(210, 214, 222, 1)',
                              pointStrokeColor    : '#c1c7d1',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(220,220,220,1)',
                              data                : attendance_present_list_student
                            },
                          ]
                        }
                        var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
                        var temp02 = barChartData2.datasets[0]
                        var temp12 = barChartData2.datasets[1]
                        barChartData2.datasets[0] = temp12
                        barChartData2.datasets[1] = temp02

                        var barChartOptions2 = {
                          responsive              : true,
                          maintainAspectRatio     : false,
                          datasetFill             : false
                        }

                        var barChart2 = new Chart(barChartCanvas2, {
                          type: 'bar',
                          data: barChartData2,
                          options: barChartOptions2
                        })



    });
</script>

<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-analytics.js";

    var firebaseConfig = {
        apiKey: "AIzaSyAsusPcXCSHm5uZkxvyjqrkzIMp-1lJSDQ",
        authDomain: "payrollmanagements-b98f9.firebaseapp.com",
        databaseURL:"https://payrollmanagements-b98f9-default-rtdb.firebaseio.com/",
        projectId: "payrollmanagements-b98f9",
        storageBucket: "payrollmanagements-b98f9.appspot.com",
        messagingSenderId: "577873096525",
        appId: "1:577873096525:web:70556298edfadc85061104",
        measurementId: "G-LHZB5KKQX8"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();
     // Initialize Firebase
    // const app = initializeApp(firebaseConfig);
    // const analytics = getAnalytics(app);

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                sendToServer(token);
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
                sendToServer(newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    });

    function sendToServer(token){
         $.ajax({
                url:'{% url 'employee_fcmtoken_save' %}',
                type:'POST',
                data:{token:token},
            })
            .done(function(response){
                if(response=="True"){
                    console.log("Token Save");
                }
                else{
                    console.log("Error in Token Save");
                }
            });
    }
    IntitalizeFireBaseMessaging();
</script>

<script type="module">
  // Import the functions you need from the SDKs you need

  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {

  };


</script>
{% endblock scripts%}

