{% extends "shared/hrm.html" %}
{% load static %}
{% load humanize %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/employee/_payslip.css' %}">
<link rel="stylesheet" href="{% static 'css/employee/_todo.css' %}">
<link rel="stylesheet" href="{% static 'css/_dashboard.css' %}">
                                               
<!--CSS-->
<!-- <link rel="stylesheet" href="{% static 'css/hrm/styles.css' %}">      -->
{% endblock extrastyle %}

{% block board %}

{% endblock board %}
{% block about %}

{% endblock about %}

{% block body %}
{% include "partials/hrm/_sidebar.html" %}
{% endblock body %}

{% block script %}

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/employee/_todo-edit.js' %}" defer></script>

{% endblock script %}