<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>
        Hi, {{ user.first_name }}
    </h2>
    
    <p>
        We will keep you updated of latest news all the time
    </p>
    <p>
        To unsubscribe click here <b>
            <a href="{% url 'contacts-unsubcribe' %}">{
                Unsubscribe
            </a>
        </b>
    </p>
</body>
</html>

