@import url('https://https://fonts.google.com/specimen/Oswald?selection.family=Oswald:wght@300');
.dismissible {
	color: #222;
	font-family: 'Oswald' ,sans-serif;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	overflow: hidden;
}

 .dismissible span {
    background: #F6390F;
    border: 2px solid #F90606;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: block;
    margin: 73px 23px 20px auto;
    padding: 0px;
    position: relative;
    text-align: center;
    color: wheat;

 }

.dismissible button {
	background: rgba(0, 0, 0, .4);
	border: 0;
	border-radius: 100%;
	color: wheat;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	line-height: 20px;
	margin-top: -12px;
	right: 10px;
	position: absolute;
	top: 50%;
	width: 24px;
}

.dismissible button:focus {
	outline: none;
}

.dismissible-error span {
	background-color: #FF5252;
	border-color: #FF1744;
	color: #fff;
}

.dismissible-error button {
	background-color: #D50000;
	color: #FFCDD2;
}

.dismissible-info span {
	background-color: #64B5F6;
	border-color: #2196F3;
	color: #fff;
}

.dismissible-info button {
	background-color: #2196F3;
	color: #E3F2FD;
}

.dismissible-success span {
	background-color: #9CCC65;
	border-color: #7CB342;
	color: #fff;
}

.dismissible-success button {
	background-color: #7CB342;
	color: #DCEDC8;
}

.dismissible-warning span {
	background-color: #FFA726;
	border-color: #FB8C00;
	color: #fff;
}

.dismissible-warning button {
	background-color: #FB8C00;
	color: #FFE0B2;
}

