.guidelines{
    color: red;
    position: absolute;
    top: 50%;
    /* background: rgba(243, 240, 240, 0.442); */
    left: 116px;
    padding: 30px;
    text-align: center;
}

.guidelines-text{
    padding: 30px;
    
}
.guidelines-text p, h3 {
    font-size: large;
    color:  rgb(94, 129, 247);
}
.body-background{
    background: rgba(243, 240, 240, 0.442); 
}
.staff{
    position: relative;
    top: 100px;
}